  
{% extends "monitoring/base.html" %}
{% load static %}
{% load plotly_dash %}


{% block title %}

{% if salle == "meteo" %}
Environnement extérieur
{% elif salle.departement %}
Salle {{ salle.nom_salle }}
{% else %}
Salle inconnue
{% endif %}

{% endblock title %}

{% block content %}

<center>
    {% if salle == "meteo" %}
    <h1 class="display-5 mt-2"> Visualisation des données d'Environnement Canada </h1>
    {% elif salle.departement %}
    <h1 class="display-5 mt-2" > Visualisation des données de la salle {{ salle.nom_salle }} </h1>
    {% else %}
    <h1 class="display-5 mt-2"> Visualisation des données d'une salle inconnue </h1>
    {% endif %}
</center>
{% if salle == 'meteo' %}
{% elif dash_context and dash_context.target_id.value != 'meteo' %}
<a class="display-6 text-dark text-decoration-none mt-2 ms-3" href="{% url 'info_montage' dash_context.target_id.value %}">Montage {{dash_context.target_id.value}}   <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
  </svg></a>
{% else %}
<h2> Dispositif inconnu. </h2>
{% endif %}
<br>
<br>
<br>



<div class="{% plotly_class name='graphs' %} card me-2" style="height: 100%; width: 100%">
    {% plotly_app name='graphs' initial_arguments=dash_context ratio=0.4 %}
</div>
</div>

{% endblock content %}