{% extends "monitoring/base.html" %}
{% load static %}
{% load plotly_dash %}


{% block content %}

<center>
    {% if salle %}
    <h1> Visualisation des données de la salle {{ salle.departement }}. </h1>
    {% else %}
    <h1> Visualisation des données d'une salle inconnue. </h1>
    {% endif %}
</center>
{% if dash_context %}
<h2> Dispositif : {{dash_context.target_id.value}} </h2>
{% else %}
<h2> Dispositif inconnu. </h2>
{% endif %}

<br>

<div class="{% plotly_class name='graphs' %} card" style="height: 100%; width: 111%">
    {% plotly_app name='graphs' initial_arguments=dash_context ratio=0.65 %}
</div>


{% endblock content %}