{% extends "monitoring/base.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for room in rooms %}
    <div class="col">
        <div class="card border-primary bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header border-primary">{{room.Departement}}</div>
            <div class="card-body text-dark">
                <h3><a class="card-title" href="{% url 'test-room-home' %}">{{room.roomNumber}}</a></h3>
                <!--On devrait nommer le url comme le roomNumber or something pour que ce soit automatisé dans le for loop-->
                <p class="card-text"> Température: {{room.Temp}}</p>
                <p class="card-text"> Humidité: {{room.RH}}</p>
                <p class="card-text"> Pression: {{room.Pression}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}